/* Eu fiz o site com base no meu projeto no Figma, utilizei somente os conteúdos do classsroom,
W3 schools, ajuda dos monitores e pesquisando na internet. Fiz somente no bloco de notas e no notepad++ (por causa do ctrl+z, modo escuro e corro menos risco de perder meu progresso).
Diagramei o site utilizando pricipalmente as DIVS, tabelas e seletores de CSS.

Está cheio de gambiarra e coisa inútil (obviamente não tenho conhecimento sufuciente), com certeza da pra mudar bastante coisa mas está fiel ao projeto do figma.
----Espero que goste <3 <3 <3---- */

/* made by: Gabriel Siriani - 2C2 - Colégio Cotemig */



/* Selecionei a cor de fundo do site */

body { 
background-color: #180220;
margin: 0; /* Não sei porque coloquei, mas quando tiro o site fica quebradinho :< */


}

/* Tirei os estilos dos hyperlinks */

a {
text-decoration: none;
color: inherit; /* Não faço ideia do que é (mas tirou a cor azul dos links) */
}

/* Configurando a header */
header { 
position: relative;
width: 100%;
height: 122px;
background: linear-gradient(360deg, rgba(18, 0, 24, 0), #51006F ); /* copiei do figma (usei como imagem no rodapé) */
display: flex;
text-align: center;
}

/* Logos */
#LogoYariNime {
position: relative;
top: 15px;
height: 110px;
margin-right: auto;
margin-left: 7%;
}

#LogoPerfil {
position: absolute;
width: 50px;
height: 50px;
top: 40px;
margin-left: 94%;

}

/* Barra de pesquisa */
/* A barra de pesquisa fica no lugar errado dependendo do monitor */
#BarraDePesquisa {
position: absolute;
height: 50px;
top: 40px;
margin-left: 80.5%;
margin-right: 0%;
}

#searprof {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-right: 5%;
}

#pesquisaheader {
display: flex;
position: relative;
border-style: solid;
border-radius: 18px;
border-width: 1px;
border-color: #21173B;
padding: 15px;
padding-right: 60%;
background-color: #08050F;
color: #9642AB;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
height: 20px;
margin-right: 5%;
}

#lupa {
position: relative;
height: 21px;
margin-right: 0%;
margin-left: 80%;
}

#divlogoperfil {
position: relative;
border-style: solid;
border-radius: 18px;
border-width: 1px;
border-color: #21173B;
padding: 15px;
background-color: #08050F;
color: #9642AB;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
height: 20px;
}


/* Botões Cabeçalho */

#tb1 {
color: #9642AB;
position: absolute;
top: 41px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
margin: auto;
margin-left: 20%;
}


td {
padding: 11px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;;
}

hr {
opacity: 0;
}

/* Imagem banner topo */

#Banners {
opacity: 0.8;
}

#img1 {
position: absolute;
width: 100%;
height: 400px;
top: 122px;
}

/* Sub-barra */

#Subbarra {
position: absolute;
width: 100%;
height: 44px;
background: #21173B;
top: 503px;

}

#tb2 {
color: #FFFFFF;
text-align: center;
margin-left: auto;
margin-right: auto;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25); /* Cria uma sombra embaixo do texto (copiei do figma) */
}

/* Calendário (títulos, botões e imagens) */

#Calendario {
position: relative;
width: 80%;
height: 44px;
background: #21173B;
top: 415px;
border-radius: 1849px;
margin-left: auto;
margin-right: auto;
text-align: center;
display: flex;
}

#callancamentos {
position: relative;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
margin: auto;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

#arrow {
position: absolute;
width: 50px;
height: 50px;
left: 95.5%;
}

#calendardays {
position: absolute;
width: 42px;
height: 40px;
right: 95.5%;
top: 4px;
}

/* ----SEÇÃO LANÇAMENTOS----*/

/* PRIMEIRA LINHA LANÇAMENTOS */
#linhaL1 {
position: relative;
top: 440px;
opacity: 0.9;
background: #180220;
margin: auto;
text-align: center;
}

#lan { /* DIV SUBTITULO*/
display: flex;
position: relative;
text-align: center;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 1px;
margin-bottom: 5px;
}

#icolan { /* ICONE SUBTITULO*/
position: relative;
height: 26px;
display: inline-block;
}

#p1 { /* NOME SEÇÃO*/
position: relative;
display: inline-block;
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
margin: auto;
margin-left: 8px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

/* BANNERS ANIMES*/

#sono1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#snk1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 201px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#onepiece1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 237px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#yari1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 273px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

/* SEGUNDA LINHA */

#linhaL2 {
position: relative;
top: 440px;
opacity: 0.9;
background: #180220;
margin: auto;
text-align: center;
}

#given1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#char1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 201px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#dangan1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 237px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#idol1 {
position: static;
width: 270.33px;
height: 262.72px;
left: 273px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

/* LANÇAMENTOS fim */


/* MAIS CURTIDOS começo*/

/* PRIMEIRA LINHA */
#linhaM1 {
position: relative;
top: 440px;
opacity: 0.9;
background: #180220;
margin: auto;
text-align: center;
}

#lan2 { /* DIV SUBTITULO*/
display: flex;
position: relative;
text-align: center;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
}

#icolan2 {
position: relative;
height: 26px;
display: inline-block;
}

#p2 {
position: relative;
display: inline-block;
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
margin: auto;
margin-left: 8px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

/* BANNERS ANIMES*/

#snk2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#naruto2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#demon2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#hunter2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

/* SEGUNDA LINHA */

#linhaM2 {
position: relative;
top: 440px;
opacity: 0.9;
background: #180220;
margin: auto;
text-align: center;
opacity: 0.9;
}

#juju2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#neon2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#yari2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

#dangan2 {
position: static;
width: 270px;
height: 411px;
left: 165px;
top: 30px;
padding: 12px;
opacity: 0.9;
}

/* RODAPÉ */

footer { /* BACKGROUND RODAPÉ */
position: relative;
background: url('fundo.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 288px;
top: 440px;
margin: auto;
margin-top: 100px;
text-align: center;
}

#LogoRodape { 
position: relative;
width: 124px;
height: 106px;
opacity: 0.9;
margin-top: 20px;
margin-bottom: 15px;
}

#copi { /* SEÇÃO COPYRIGHT*/
position: relative;
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
margin: auto;
margin-left: 8px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

#contato { 
position: relative;
margin-left: auto;
margin-right: auto;
}

#tbrod { /* TABELA CONTATO, HOME, POLÍTICA*/
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

.rod { /* CLASSE CONTATO, HOME, POLÍTICA*/
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.itd { /* CLASSE REDES SOCIAIS*/
position: relative;
padding: 5px;
}

/* EU NÃO COMETERIA ESSE ERRO*/

#seupiorerro {
color: #DB1AD5;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 19px;
text-shadow: 2px 2px 5px #5C0B59;
}
/* made by: Gabriel Siriani - 2C2 - Colégio Cotemig */