/* Eu fiz o site com base no meu projeto no Figma, utilizei somente os conteúdos do classsroom,
W3 schools, ajuda dos monitores e pesquisando na internet. Fiz somente no bloco de notas e no notepad++ (por causa do ctrl+z, modo escuro e corro menos risco de perder meu progresso).
Diagramei o site utilizando pricipalmente as DIVS, tabelas e seletores de CSS.

Está cheio de gambiarra e coisa inútil (obviamente não tenho conhecimento sufuciente), com certeza da pra mudar bastante coisa mas está fiel ao projeto do figma.
----Espero que goste <3 <3 <3---- 
made by: Gabriel Siriani - 2C2 - Colégio Cotemig
*/


/* Selecionei a cor de fundo do site */

body { 
background-color: #08050F; /* #08050F */ 
margin: 0; /* Não sei porque coloquei, mas quando tiro o site fica quebradinho :< */


}

/* Tirei os estilos dos hyperlinks */

a {
text-decoration: none;
color: inherit; /* Não faço ideia do que é (mas tirou a cor azul dos links) */
}

/* Configurando a header */
header { 
position: relative;
width: 100%;
height: 122px;
background: linear-gradient(360deg, rgba(18, 0, 24, 0), #51006F ); /* copiei do figma (usei como imagem no rodapé) */
display: flex;
text-align: center;
}

/* Logos */

#LogoYariNime {
position: relative;
top: 15px;
height: 110px;
margin-right: auto;
margin-left: 7%;
}

#searprof {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-right: 5%;
}

#pesquisaheader {
display: flex;
position: relative;
border-style: solid;
border-radius: 18px;
border-width: 1px;
border-color: #21173B;
padding: 15px;
padding-right: 60%;
background-color: #08050F;
color: #9642AB;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
height: 20px;
margin-right: 5%;
}

#lupa {
position: relative;
height: 21px;
margin-right: 0%;
margin-left: 80%;
}

#divlogoperfil {
position: relative;
border-style: solid;
border-radius: 18px;
border-width: 1px;
border-color: #21173B;
padding: 15px;
background-color: #08050F;
color: #9642AB;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
height: 20px;
}


/* Botões Cabeçalho */

#tb1 {
color: #9642AB;
position: absolute;
top: 41px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
margin: auto;
margin-left: 20%;
}


td {
padding: 11px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;;
}

hr {
opacity: 0.8;
}


#topo { /* Div com a parte de cima da página*/
position: relative;
background-color: #08050F;
margin-left: 200px;
margin-right: 200px;
}

#info { /* Div com as informações */
display: flex;
}

h1 { /* Título */
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
}

#like { /* Botões Like e Share */
display: flex;
}

#heart { /* Like */
margin-right: 10px;
}

#share { /* Share */
}

.descricao { /* Descrição/Sinopse */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

#des {
overflow-y: scroll;
height: 195px;
width: 80%;
background-color: #08050F;
}

#generos { /* Retângulos gêneros */
display: flex;
max-width: 600px;
margin-top: 0px;
margin-bottom: 1px;
}

.gen { /* Classe das informações do anime */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
border: 1px;
border-style: solid;
border-radius: 7px;
margin-right: 10px;
padding: 7px;
background-color: DarkRed;
}

.geninfo { /* Informações do Anime */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 0;
margin-top: 0;
}

.genspan { /* Conteúdo das informações do anime */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
margin-bottom: 0;
margin-top: 0;
}

#banneranime { /* Banner do anime */
width: 272px;
height: 413px;
}

#container { /* Div com a lista de episódios */
position: relative;
background-color: #08050F ;
overflow-y: scroll;
height: 792px;
margin-left: 250px;
margin-right: 250px;
margin-top: 15px;
}

.pesquisa { /* Barra de pesquisa */
display: flex;
color: white;
list-style-type: none;
background-color: #0E0720;
border-style: solid;
border-bottom-style: none;
border-color: #21173B;
border-width: 1px;
padding: 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
align-items: center;
}

.searbox { /* Conteúdo da barra de pesquisa */
border-style: solid;
border-radius: 18px;
border-width: 1px;
border-color: #21173B;
padding: 15px;
padding-left: 10px;
padding-right: 300px;
background-color: #08050F;
margin-left: 5px;
margin-top: 10px;
margin-bottom: 10px;
color: #9642AB;
}

.listaepisodios { /* Cada episódio listado */
display: flex;
color: white;
list-style-type: none;
border-top-style: solid;
border-left-style: solid; 
border-right-style: solid; 
border-color: #21173B;
border-width: 1px;
padding: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
align-items: center;
}

.botoes { /* Botões Visto/Não Visto, Assitir e Baixar de cada episódio */
position: relative;
margin-right: 0px;
margin-left: auto;
margin-bottom: auto;
}

#banneranuncio { /* Div anuncio da página */
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
}

#secaocomentarios { /* Seção dos comentário do anime */
margin-left: 150px;
margin-right: 150px;
margin-top: 50px;
margin-bottom: 50px;
}
hr { /* Linhas horizontais */
margin-left: auto;
margin-right: auto;
}

.comen { /* Topo da seção cometários (X comentários) */
color: white;
display: flex;
justify-content: left;
align-items: left;
}

#tdc { /* Conteúdo do topo da seção comentários */
color: white;
position: relative;
top: 22px;
padding: 15px;
}

#comentbox { /* Conteúdo da caixa de comentário do usuário */
display: flex;
align-items: center;
color: Black;
font-family: "Montserrat";
width: 80%;
height: 22px;
background-color: white;
border-radius: 5px;
}

.pagecomments { /* Comentários de outros usuários */
display: flex;
margin-top: 2%;
margin-left: 1%;
}

.usercomment { /* Conteúdo do comentário */
position: relative;
right: 40px;
margin: 5px;
top: 5%;
color: #8F8F8F;
font-family: "Montserrat";
}

.username { /* Nome do usuário */
position: relative;
list-style-type: none;
right: 40px;
margin: 5px;
color: #8F8F8F;
font-family: 'Montserrat';
}

.loadres { /* "Carregar" mais comentários (não funciona obviamente) */
position: relative;
text-align: center;
color: #C6C6C6;
font-family: "Montserrat";
font-size: 15px;
margin-left: auto;
margin-right: auto;
}

/* RODAPÉ */

footer { /* BACKGROUND RODAPÉ */
position: relative;
background: url('fundo.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 288px;
margin-top: 50px;
margin: auto;
text-align: center;
}

#LogoRodape { 
position: relative;
width: 124px;
height: 106px;
opacity: 0.9;
margin-top: 20px;
margin-bottom: 15px;
}

#copi { /* SEÇÃO COPYRIGHT*/
position: relative;
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
margin: auto;
margin-left: 8px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

#contato { /* Botões rodapé */
position: relative;
margin-left: auto;
margin-right: auto;
}

#tbrod { /* TABELA CONTATO, HOME, POLÍTICA*/
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

.rod { /* CLASSE CONTATO, HOME, POLÍTICA*/
color: white;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 17px;
text-shadow: 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.itd { /* CLASSE REDES SOCIAIS*/
position: relative;
padding: 5px;
}

/* EU NÃO COMETERIA ESSE ERRO*/

#seupiorerro {
color: #DB1AD5;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: auto;
font-size: 19px;
text-shadow: 2px 2px 5px #5C0B59;
}
/* made by: Gabriel Siriani - 2C2 - Colégio Cotemig */